body{
  background: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  font-family: 'Montserrat', sans-serif;
  color: white;
}
h1, p{
  text-align: center;
}
.header{
  padding: 2em 0em;
}
#title{
  font-size: 2em;
}
#description{
  font-style: italic;
  font-weight: 200;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 1.2em;
}
.container{
  width: 90%;
  max-width: 700px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#survey-form{
  background: rgb(0,0,0,0.5);
  padding: 3em;
  border-radius: 5px;
  font-size: 1.2em;
  line-height: 30px;
  
}
.input-group{
  padding-bottom: 1.5em;
}
.label{
  display: block;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.input-box{
  width: 100%;
  border-radius: 5px;
  font-size: 0.85em;
  padding: 0.5em;
  font-family: 'Montserrat', sans-serif;
  color: grey;
}
input[type="checkbox"]{
  height: 1.2em;
  width: 1.2em;
}
#submit{
  border: none;
  background-color: rgb(55,175,101);
  color: white;
  font-weight: 900;
  padding: 1em 0em;
}